<footer class="footer">
    <div class="body-footer">
        <div class="crisper">
            <div class="footer-title">
                <a href="index.html" class="footer-logotype">Noiceland</a>
                <p class="all-rights-reserved">
                    &copy; 2018 Noiceland&trade;, All Rights Reserved
                </p>
            </div>
            <div class="footer-nav-panel">
                <div class="top-menu">
                    <div class="item">
                        <div class="item-title">
                            <span>Categories</span>
                        </div>
                        <div class="item-body item-categories">
                            <a href="#" class="item-link">Animation</a>
                            <a href="#" class="item-link">Interactive Design</a>
                            <a href="#" class="item-link">Architecture</a>
                            <a href="#" class="item-link">Miscellaneous</a>
                            <a href="#" class="item-link">Graphic Design</a>
                            <a href="#" class="item-link">Photography</a>
                            <a href="#" class="item-link">Illustration</a>
                            <a href="#" class="item-link">Product Design</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-title">
                            <span>Subscribe to newsletter</span>
                        </div>
                        <div class="item-body item-subsctibe">
                            <form action=".">
                                <div class="input-group-footer">
                                    <input type="email" class="form-conrol" placeholder="Email Address">
                                    <button type="submit" class="footer-sumbit-btn">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="bottom-menu">
                    <div class="item">
                        <div class="item-title">
                            <span>Information</span>
                        </div>
                        <div class="item-body">
                            <a href="#" class="item-link">about</a>
                            <a href="#" class="item-link">contact</a>
                            <a href="#" class="item-link">terms</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-title">
                            <span>follow us</span>
                        </div>
                        <div class="item-body">
                            <a href="#" class="item-link">instagram</a>
                            <a href="#" class="item-link">facebook</a>
                            <a href="#" class="item-link">twitter</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-title">
                            <span>Template</span>
                        </div>
                        <div class="item-body">
                            <a href="#" class="item-link">Image License Info</a>
                            <a href="#" class="item-link">Powered by Webflow</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>