<!-- About -->
<section class="about">
    <div class="crisper">
        <div class="section-title">
            <p>About</p>
        </div>
        <div class="section-body">
            <div class="post">
                <div class="post-title">
                    <img src="@img/avatar-2.jpg" alt="Avatar 2">
                </div>
                <div class="post-body">
                    <div class="category">
                        <p>Illustration</p>
                    </div>
                    <div class="title">
                        <p>Reta Torphy</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-title">
                    <img src="@img//avatar-6.jpg" alt="Avatar 6">
                </div>
                <div class="post-body">
                    <div class="category">
                        <p>Photography</p>
                    </div>
                    <div class="title">
                        <p>Alessandra Ortiz</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-title">
                    <img src="@img/avatar-5.jpg" alt="Avatar 5">
                </div>
                <div class="post-body">
                    <div class="category">
                        <p>Photography</p>
                    </div>
                    <div class="title">
                        <p>Rosanna Ondricka</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-title">
                    <img src="@img/avatar-4.jpg" alt="Avatar 4">
                </div>
                <div class="post-body">
                    <div class="category">
                        <p>Interactive Design</p>
                    </div>
                    <div class="title">
                        <p>Annie Lueilwitz</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-title">
                    <img src="@img/avatar-3.jpg" alt="Avatar 3">
                </div>
                <div class="post-body">
                    <div class="category">
                        <p>Graphic Design</p>
                    </div>
                    <div class="title">
                        <p>Simeon Brekke</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-title">
                    <img src="@img/avatar-1.jpg" alt="Avatar 1">
                </div>
                <div class="post-body">
                    <div class="category">
                        <p>Graphic Design</p>
                    </div>
                    <div class="title">
                        <p>Leo Bartell</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>