<!-- Featured Posts -->
<section class="featured-posts">
    <div class="crisper">
        <div class="section-title">
            <p>Featured Posts</p>
        </div>
        <div class="section-body">
            <div class="post">
                <div class="post-title">
                    <img src="@img/featured-post-1.jpg" alt="Latest Post 1">
                </div>
                <div class="post-body">
                    <div class="category">
                        <p>Graphic Design</p>
                    </div>
                    <div class="title">
                        <a href="detail-post.html">A Brief History of the FIFA World Cup Logo</a>
                    </div>
                    <div class="author">
                        <p>By Clem Onojeghuo</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-title">
                    <img src="@img/featured-post-2.jpg" alt="Latest Post 2">
                </div>
                <div class="post-body">
                    <div class="category">
                        <p>Graphic Design</p>
                    </div>
                    <div class="title">
                        <a href="detail-post.html">Need a guide to LA’s graphic design scene? Shoplifters’ new issue has got your back</a>
                    </div>
                    <div class="author">
                        <p>By Alessandra Ortiz</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-title">
                    <img src="@img/featured-post-3.jpg" alt="Latest Post 3">
                </div>
                <div class="post-body">
                    <div class="category">
                        <p>Photography</p>
                    </div>
                    <div class="title">
                        <a href="detail-post.html">Fred Rowson directs film for Years and Years</a>
                    </div>
                    <div class="author">
                        <p>By Coby Gottlieb</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-title">
                    <img src="@img/featured-post-4.jpg" alt="Latest Post 4">
                </div>
                <div class="post-body">
                    <div class="category">
                        <p>Illustration</p>
                    </div>
                    <div class="title">
                        <a href="detail-post.html">M&C Saatchi and Fontsmith collaborate on font collection for House of St Barnabas</a>
                    </div>
                    <div class="author">
                        <p>By Annie Lueilwitz</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>